.sas{
    padding: 5px 16px !important;
}

.sas:hover{

    background-color: #347D39 !important;
}

.open-in-vscode-local{

    border-bottom: 0.09px solid var(--color-fg-default) !important;
    margin-bottom: 0.2px !important;


}